header.header {
  background-color: $white;
  height: 30vh;
  margin-top: 100px;
  position: relative;

  @include media-max-width(md) {
    height: 30vh;
  }

  .title-image {

    h1 {
      font-size: 40px;
      line-height: 50px;
      letter-spacing: 0.5px;
    }
  }

  .menu {
    position: absolute;
    right: 0;
    top: 0;

    ul {
      list-style: none;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 2px;
      text-align: right;
      padding-top: 40px;

      li a, a:link, a:visited {
        display: block;
        color: $gray-700;
        margin-bottom: 10px;

        &:hover {
          color: $gray-900;
          text-decoration: none;
        }
      }
    }
  }
}

.header-title-bg-grid {
  height: 200px;
  padding: 50px 0;
  width: 100%;
  background-image: url('../images/dot_pattern_300.png');

  h2 {
    font-size: 80px;
    line-height: 100px;
    letter-spacing: 1px;
  }
}
