header.header {
  background-color: $white;
  height: 60vh;
  margin-top: 100px;
  position: relative;

  @include media-max-width(md) {
    height: 30vh;
  }

  .title-image {
    position: relative;
    height: 300px;
    background-image: url('../images/title_text.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 100px;
  }

  .header-title-bg-grid {
    height: 100px;
    width: 100%;
    background-image: url('../images/dot_pattern_300.png');
  }

  .menu {
    position: absolute;
    right: 0;
    top: 0;

    ul {
      list-style: none;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 2px;
      text-align: right;
      padding-top: 40px;

      li a, a:link, a:visited {
        display: block;
        color: $gray-700;
        margin-bottom: 10px;

        &:hover {
          color: $gray-900;
          text-decoration: none;
        }
      }
    }
  }
}
