<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="app">



    <div class="container">
      <header class="header">
        <div class="title-image"></div>


        <div class="menu">
          <ul>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Archive</a></li>
            <li><a href="#">About me</a></li>
            <li><a href="#">Contacts</a></li>
          </ul>
        </div>


        <div class="header-title-bg-grid">
          <p>Some text</p>
        </div>
      </header>
    </div>



    <div class="fuel-grid container-fluid">
      <div class="row">
        <div class="col-md-4">
          <div class="grid-item concert"></div>
          <h3>Google - The Performing Arts</h3>
          <p>Interactive</p>
        </div>
        <div class="col-md-4">
          <div class="grid-item gti"></div>
          <h3>Google - Inside Abbey Road</h3>
          <p>Interactive</p>
        </div>
        <div class="col-md-4">
          <div class="grid-item abbey"></div>
          <h3>Google - Beyound the map</h3>
          <p>Design</p>
        </div>
      </div>



      <div class="row">
        <div class="col-md-4">
          <div class="grid-item inn">

          </div>
        </div>
        <div class="col-md-4">
          <div class="grid-item favelas">

          </div>
        </div>
        <div class="col-md-4">
          <div class="grid-item da">

          </div>
        </div>
      </div>
    </div>



  </div>
</body>
</html>
