@import './bootstrap/bootstrap';
// @import './fonts/_cartograph-mono';
@import './fonts/_cartograph-mono-light';
// @import './fonts/_cartograph-sans';
@import './fonts/_font-open-iconic';

.hello {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url('../images/dot-pattern.png');
    opacity: .1;
  }
}
