@import './mixins';
@import './bootstrap/bootstrap';
@import './components/header';
@import './components/about';
@import './components/grid-item';
@import './components/project-details';


body {
  &.loading {
    overflow: hidden;
    padding-right: 1rem;
  }
}

.hello {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url('../images/dot-pattern.png');
    opacity: .1;
  }
}
